alias ll="ls -lah"
alias rm="rm -i"
alias cp="cp -i"
# alias ls="ls --color=auto"
alias l="ls -ail"
alias cl="clear"

alias cvs="cvs -z3"

alias reboot="shutdown -r now"

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir;fi;done"

if [ -x /usr/libexec/mc/mc-wrapper.sh ]
then
	alias mc='. /usr/libexec/mc/mc-wrapper.sh'
fi

# if [ -x /Applications/MacVim.app/Contents/MacOS/Vim ]
# then
#   alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'
# fi

if type "nvim" > /dev/null; then
  alias vim='nvim'
fi

alias pg-start='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pg-stop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'

alias gptag='git push && git push --tags && git checkout develop'

alias antidiff="perl -ne 'print if ($seen{$_} .= @ARGV) =~ /10$/'"

alias python="python3"
alias pip="pip3"
